.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.artist-card {
    margin: 8px;
    padding: 8px;
    width: 200px;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.artist-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.artist-name-age {
    display: flex;
    justify-content: space-between;
}


.artist-best-line {
    display: flex;
    flex-direction: column;
}

.artist-reviews {
    display: flex;
    justify-content: space-between;
}